@import "./ui/veriables";
@import "./ui/mixin";
@import "./global";
@import "./layout/header";

@import "./screens/intro";
@import "./screens/collection";
@import "./screens/hits";

@import "./layout/footer";