.hits{
    padding: 60px 0;
    background-color: #F3F9FF;
    &__content{
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
        &__title{
            @include title(700, $black);
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #1061AB;
                bottom: -4px;
                left: 0;
            }
        }
        .list{
            display: flex;
            gap: 15px;
            &__item{
                padding: 10px 25px;
                background-color: #FFFFFF;
                align-items: center;
                display: flex;
                border-radius: 5px;
                color: #2B7BC6;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                flex: 1;
                transition: all 0.3s ease;
                &:hover{
                    background-color: $light-green;
                    color: $white;
                }
            }
        }
        .wrapper{
            display: flex;
            .swiper1{
                position: relative;
                overflow: hidden;
            }
        }
    }
}