.intro {
    padding: 10px 0 60px 0;
    .line{
        height: 370px;
        background-color: #E1EEFB;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 42px;
        &__main {
            display: flex;
            align-items: center;
            .intro-swiper {
                flex: 2;
                position: relative;
                height: 330px;
                .intro-next,
                .intro-prev {
                    font-size: 30px;
                    color: #9da4a8;
                    position: absolute;
                    cursor: pointer;
                }
                .intro-next {
                    right: 20px;
                    top: 50%;
                    z-index: 2;
                    transform: translateY(-50%);
                }
                .intro-prev {
                    left: 20px;
                    top: 50%;
                    z-index: 2;
                    transform: translateY(-50%);
                }
                .swiper-slide {
                    height: 330px;
                    width: 100%;
                    padding: 76px;
                    background-color: $blue;
                    align-items: flex-end;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    .title {
                        @include title(700, $white);
                    }
                    .info {
                        @include content(600, $white);
                    }
                    .link {
                        padding: 17px 20px;
                        border-radius: 5px;
                        background-color: $yellow;
                        @include text(500, $black);
                    }
                }
                .red {
                    background-color: $red;
                }
                .green {
                    background-color: $light-green;
                }
            }
            .wrapper {
                flex: 1;
                display: flex;
                flex-direction: column;
                height: 330px;
                &__card {
                    display: flex;
                    flex-direction: column;
                    gap: 13px;
                    align-items: flex-start;
                    width: 100%;
                    height: 100%;
                    padding: 50px;
                    background-color: $light-blue;
                    align-items: flex-end;
                    &__title{
                        @include content(700, $white);
                    }
                    &__info{
                        @include text(500, $white);
                    }
                    &:nth-child(2) {
                        background-color: $light-green;
                    }
                }
            }
        }
        &__facts{
            display: flex;
            gap: 30px;
        
            .card{
                display: flex;
                align-items: center;
                gap: 15px;
                &__span{
                    color: $light-green;
                    font-size: 30px;
                }
            }
        }
    }
}
