.header {
    display: flex;
    align-items: center;
    height: 150px;
    padding: 60px;
    &__nav {
        display: flex;
        flex-direction: column;
        gap: 30px;
        &__up {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            align-items: center;
            .logo {
                width: 180px;
                height: 25px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .location {
                display: flex;
                gap: 10px;
                align-items: center;
                color: $very-light-blue;
                text-decoration: underline;
                i {
                    color: $yellow;
                }
            }
            .wrapper {
                display: flex;
                gap: 15px;
                align-items: center;
                &__tel {
                    @include text(600, $black);
                }
                &__span {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: $yellow;
                    color: $black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                }
                &__link {
                    @include text(400, $very-light-blue);
                    text-decoration: underline;
                }
            }
            .list {
                display: flex;
                gap: 15px;
                align-items: center;
                &__item {
                    color: $very-light-blue;
                }
            }
        }
        &__down {
            display: flex;
            align-items: center;
            .catalog {
                padding: 20px 26px;
                background-color: $blue;
                color: $white;
                display: flex;
                gap: 15px;
                font-size: 13px;
                align-items: center;
                border-bottom: 3px solid $blue;
                &:hover{
                    border-bottom: 3px solid $red;
                }
            }
            .wrap__span{
                width: 22px;
                height: 22px;
                position: absolute;
                border-radius: 50%;
                background-color: $yellow;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #004C93;
                left: 50%;
                top: -50%;
                transform: translate(-50%, 50%);
            }
            .discounts {
                padding: 20px 26px;
                background-color: $light-blue;
                color: $white;
                display: flex;
                gap: 15px;
                font-size: 13px;
                align-items: center;
                border-bottom: 3px solid $light-blue;
                position: relative;
                &:hover{
                    border-bottom: 3px solid $blue;
                    background-color: $white;
                    color: $blue;
                }
            }
            .brands {
                padding: 20px 26px;
                background-color: $very-light-blue;
                color: $white;
                display: flex;
                gap: 15px;
                font-size: 13px;
                align-items: center;
                border-bottom: 3px solid $light-blue;
                position: relative;
                &:hover{
                    border-bottom: 3px solid $blue;
                    background-color: $white;
                    color: $blue;
                }
            }
        }
        .wrapper {
            position: relative;
        }
        .inp {
            padding: 20px 26px;
            background-color: $white;
            position: relative;
            width: 690px;
        }
        .icon {
            font-size: 15px;
            color: $light-blue;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
        .wrap {
            display: flex;
            align-items: center;
            &__user {
                padding: 20px 25px;
                background-color: #f1f8ff;
                color: #2b7bc6;
            }
            &__link {
                color: #2b7bc6;
                padding: 20px 25px;
                position: relative;
                background-color: #f1f8ff;
            }
        }
    }
}
